{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="main login_form">
        <div class="container">
            <section class="wrapper">
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div class="heading">
                    <h1 class="text text-large">Se connecter</h1>
                    <p class="text text-normal">Pas de compte ? <span><a href="{{ path('app_register') }}" class="text text-links">Inscrivez‑vous.</a></span>
                    </p>
                </div>
                <form name="signin" class="form" method="post">
                    <div class="input-control">
                        <label for="inputUsername" class="input-label" hidden>Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input-field" placeholder="Username"  autocomplete="username" required autofocus>
                    </div>
                    <div class="input-control">
                        <label for="inputPassword" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="inputPassword" class="input-field" placeholder="Mot de passe">
                    </div>
                    <div class="input-control">
                        <a href="{{ path('app_forgot_password_request') }}" class="text text-links">Mot de passe oublié ?</a>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Connexion
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </form>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}
