{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="main login_form">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Créer votre compte</h1>
                    <p class="text text-normal">Vous avez déjà un compte ? <span><a href="{{ path('app_login') }}" class="text text-links">Connectez-vous</a></span></p>
                </div>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username, {
                        label: 'Pseudo'
                    }) }}
                    {{ form_row(registrationForm.email, {
                        label: 'Email'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

                <div class="input-bottom">
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
                </div>

                {{ form_end(registrationForm) }}
            </section>
        </div>
    </main>
{% endblock %}
