{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une nouvelle figure
{% endblock %}

{% block body %}
<h1>Ajouter une nouvelle figure</h1>

{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.figureGroup) }}
    {{ form_row(form.description) }}

{{ form_end(form) }}


{% endblock %}
